* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}
/* input styles*/
button,
input,
textarea {
  padding: 0 0.625rem;
  outline: none;
}

label {
  padding-left: 0.625rem;
  padding: 0.625rem 0 0.625rem 0.625rem;
}
/* wrapper stylese */
.detail-wrapper > .grid {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(5, 1.75rem) 20rem 1fr;
  row-gap: 0.625rem;
}

/* write form styles*/
/* form인데 클래스가 write-form인 것 */
form.write-form > .grid,
form.update-form > .grid {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, 1.75rem);
  row-gap: 0.625rem;
}

form.write-form #content ,
form.update-form #content{
  height: 100%;
}
/* button group styles */
.grid > .btn-group {
  grid-column: 1/-1; /*한줄을 다 합쳐라*/
}

/* aligh styles */
.right-align {
  text-align: right;
}
